<div>
    <!-- these are my custom nav directives that I was attempting
     to build ninja publishers ng spa framework with -->
    <jmenu-system title="SwapServe" subtitle="awesomeness" icon-file="modules/core/img/art1.png">
        <ninja-menu>
            <ninja-menu-item label="Publishers" icon="fa-dashboard" uistate="home"></ninja-menu-item>
            <ninja-menu-item label="Indie Studios" icon="fa-location-arrow" uistate="indie_devs"></ninja-menu-item>
            <ninja-menu-item label="Ninja Zone" icon="fa-user" uistate="ninja_zone"></ninja-menu-item>
        </ninja-menu>
    </jmenu-system>
</div>