<a href="#/{{publisher.parent_name}}" class="j-thumbnail">
    <img data-ng-src="{{publisher.image_url}}" alt="publisher image" class="center-block"/>

    <h1>{{publisher.publisher}}</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio dolor eligendi
        exercitationem
        facere impedit quidem vero! Debitis deleniti et id ipsa labore magnam nam, nisi quasi quod reprehenderit
        veritatis.
    </p>

    <button class="center-block">
        <span class="btn-txt">Rate Their Games</span>
        <span class="btn-bg"></span>
    </button>
</a>
<!--<script type = "text/javascript">-->
    <!--new WOW().init();-->
<!--</script>-->