<h1 class="text-center">Rate</h1>


<!--<object class="vote-up">-->
    <!--<embed src="modules/core/css/vote_arrow.svg"/>-->
<!--</object>-->
<div class="vote-up" ng-click="voteup()">
    <img src="core/css/vote_arrow.svg" alt="svg"/>
</div>
<div class="jwidth-total">
    <h3 class="j-text-total"> Rating = {{count}}</h3><!-- might just create a custom directive for this -->
</div>
<div class="vote-down" ng-click="votedown()">
    <img src="core/css/down_arrow.svg" alt="svg"/>
</div>
<!--<object class="vote-down" ng-click="votedown()">-->
    <!--<embed src="modules/core/css/down_arrow.svg"/>-->
<!--</object>-->

